<div class="container">
  <div class="columns is-multiline is-centered">
    <div class="column is-half">
      <div class="container">
        <div class="title is-2">
          <%= heading %>
        </div>
      </div>
    </div>
    <div class="column is-two-fifths is-offset-2">
      <% if @meal_recipe.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@meal_recipe.errors.count, "error") %> prohibited this recipe from being saved:
          </h2>
          <ul>
            <% @meal_recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="field">
    <%= form_with model: @meal_recipe, local: true do |form| %>
      <div class="columns is-multiline is-centered">
        <div class="column is-half">
          <div class="control">
            <%= form.label :title, class: "label" %>
            <%= form.text_field :title, class: "input", placeholder: "Add title.." %>

            <%= form.label :description, class: "label" %>
            <%= form.text_area :description, class: "input", placeholder: "Add description.." %>

            <%= render 'instruction_form',
                form: form %>

            <%= render 'ingredient_form',
                form: form %>

            <%= form.submit submit, class: "submit", class: "button is-black" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

