<% if @meal_recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@meal_recipe.errors.count, "error") %> prohibited this recipe from being saved:
    </h2>
    <ul>
      <% @meal_recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @meal_recipe, local: true do |form| %>
  <%= form.label :title%>
  <%= form.text_field :title %>

  <%= form.label :description %>
  <%= form.text_area :description %><br>

  <%= render 'instruction_form',
      form: form %>

  <%= form.submit %>
<% end %>


