<div class="container">
  <div class="columns is-multiline is-centered">
    <div class="column is-half">
      <div class="content">
        <div class="title is-3 is-centered">
          <%= heading %>
        </div>
      </div>

      <% if @meal_recipe.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@meal_recipe.errors.count, "error") %> prohibited this recipe from being saved:
          </h2>
          <ul>
            <% @meal_recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form_with model: @meal_recipe, local: true do |form| %>
          <div class="control">
            <%= form.label :title, class: "label" %>
            <%= form.text_field :title, class: "input", placeholder: "Add title.." %>

            <%= form.label :description, class: "label" %>
            <%= form.text_area :description, class: "input", placeholder: "Add description.." %>

            <%= render '/forms_recipe/instruction_form',
                form: form %>

            <%= render '/forms_recipe/ingredient_form',
                form: form %>

            <%= form.submit submit, class: "button is-black" %>

            <%= link_to "Cancel", root_path, class: "button is-black" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

