<div class="container">
  <div class="columns is-multiline is-centered">
    <div class="column is-half">
      <% if @recipe_instruction.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@recipe_instruction.errors.count, "error") %> prohibited this instruction from being saved:
          </h2>
          <ul>
            <% @recipe_instruction.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="columns is-multiline is-centered">
    <div class="column is-half">
      <div class="title">
        Instruction:
      </div>
      <div class="field">
        <div class="control">
          <%= form_with model: [@meal_recipe, @recipe_instruction], local: true do |form| %>
            <%= form.text_area :instruction, class: "input", placeholder: "Add instruction.." %>

            <%= form.submit submit, class: "button is-black" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

