<h2>User info:</h2>
<div class="content">
  <ul>
    <li>Username: <strong><%= @user.username %></strong></li>
    <li>First Name: <strong><%= @user.first_name %></strong></li>
    <li>Last Name: <strong><%= @user.last_name %></strong></li>
    <li>E-mail Address: <strong><%= @user.email %></strong></li>
  </ul>
</div>

<h2>Recipes:</h2>
<div class="content">
  <ol type="1">
    <% @user.meal_recipes.each do |recipe| %>
      <li><%= link_to "#{recipe.title}", meal_recipe_path(recipe) %></li>
    <% end %>
  </ol>
</div>

<p> <%= link_to "Back", :back %>
